<!DOCTYPE html>
<html>

<head>
    <!-- important meta tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- site title -->
    <title>Josué Adimado | Freelance Web Designer & Developer based in Accra, Ghana</title>
    <!-- site description and atuhor name -->
    <meta name="description" content="Freelance Web Designer & Developer based in Accra, Ghana">
    <meta name="author" content="Josué Adimado" />
    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/static/assets/images/fav.png">
    <!-- font cdn links -->
    <link href="https://fonts.googleapis.com/css?family=Hind:400,500" rel="stylesheet">
    <link rel="stylesheet" href="/static/assets/css/font-awesome.min.css">
    <!-- bootstrap css links -->
    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
    <!-- animate css link -->
    <link rel="stylesheet" href="/static/assets/css/animate.min.css">
    <!-- plugins css links -->
    <link rel="stylesheet" href="/static/assets/css/lightcase.css">
    <link rel="stylesheet" href="/static/assets/css/swiper.min.css">
    <link rel="stylesheet" href="/static/assets/css/slick.css">
    <!-- main style css link -->
    <link rel="stylesheet" href="/static/assets/css/style.css">
    <!-- responsive css link -->
    <link rel="stylesheet" href="/static/assets/css/responsive.css">

    <!--[if lt IE 9]>
	<script src="http://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="http://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body>
    <!-- header-section start -->
    <header class="header-section">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand logo" href="/"><img src="/static/assets/images/logo1.png"
                        alt="logo-img"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="menu-toggle"></span>
                </button>
                <div class="collapse navbar-collapse main-menu-part" id="navbarSupportedContent">
                    <ul class="social-links ml-auto">
                        <li><a href="https://twitter.com/josueadimado" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.instagram.com/josue_adimado/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/josue-adimado/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="https://github.com/josueadimado" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!-- header-section end -->

    <!-- banner-section start -->
    <section id="intro" class="banner-section">
        <div class="banner-man-shape">
            <img src="/static/assets/images/about-josue-adimado.png" alt="Josué Adimado">
        </div>
        <div class="banner-content-area">
            <div class="container">
                <div class="banner-content">
                    <h3>Welcome! I'M</h3>
                    <h1>JOSUÉ ADIMADO</h1>
                    <h4>Freelance Web Designer & Developer</h4>
                    <p>I enjoy designing and coding beautifully simple things, and I love what I do.</p>
                    <div class="cmn-btn-grp">
                        <a href="#service" class="cmn-btn">My Work</a>
                        <a href="#hire" class="cmn-btn">Hire Me</a>
                    </div>
                </div>
            </div>
        </div>
        <a href="https://www.youtube.com/embed/Hw4ctvV25H0" data-rel="lightcase:myCollection" class="video-btn"><img
                src="/static/assets/images/shape/video-icon.png" alt="video-icon"></a>
    </section>

    <!-- about-section start -->
    <section id="about" class="about-section section-padding">
        <div class="container">
            <div class="section-header">
                <h2>Hi, I'm Josué. Nice to meet you.</h2>
            </div>
            <div class="section-wrapper">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <p>I am a freelance Web Design & Developer based in Accra, Ghana. Very passionate about creating meaningful, and memorable web experiences, I truly enjoy ﬁnding new ways to display
                        information and graphics on the web. I've done remote work for agencies, consulted for
                        startups, and collaborated with talented people to create digital products for both business
                        and consumer use.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about-section end -->

    <!-- skill-exp-section start -->
    <section id="about" class="skill-exp-section section-padding padding-l-r">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-5 col-lg-12">
                    <div class="skil-work-part">
                        <div class="section-header">
                            <h2>My Skills</h2>
                            <p>For the Past years, I've gained a solid understanding of computer science and web
                                development concepts, reason why I choose to dedicate a lot of my time to apply these
                                concepts to real-world scenarios and applications.</p>
                        </div>
                        <div class="section-wrapper">
                            <div class="work-skill-part">
                                <div class="row">
                                    <div class="col-lg-6 skill-bar-item">
                                        <div class="skill-bar">
                                            <p>WordPress</p>
                                            <div class="progressbar" data-perc="95%">
                                                <div class="bar"></div>
                                                <span class="label">95</span>
                                            </div>
                                        </div>
                                    </div><!-- skill-bar-item end -->
                                    <div class="col-lg-6 skill-bar-item">
                                        <div class="skill-bar">
                                            <p>HTML &amp; CSS</p>
                                            <div class="progressbar" data-perc="90%">
                                                <div class="bar"></div>
                                                <span class="label">90</span>
                                            </div>
                                        </div>
                                    </div><!-- skill-bar-item end -->
                                    <div class="col-lg-6 skill-bar-item">
                                        <div class="skill-bar">
                                            <p>Joomla</p>
                                            <div class="progressbar" data-perc="85%">
                                                <div class="bar"></div>
                                                <span class="label">85</span>
                                            </div>
                                        </div>
                                    </div><!-- skill-bar-item end -->
                                    <div class="col-lg-6 skill-bar-item">
                                        <div class="skill-bar">
                                            <p>Javascript</p>
                                            <div class="progressbar" data-perc="75%">
                                                <div class="bar"></div>
                                                <span class="label">75</span>
                                            </div>
                                        </div>
                                    </div><!-- skill-bar-item end -->
                                    <div class="col-lg-6 skill-bar-item">
                                        <div class="skill-bar">
                                            <p>Django</p>
                                            <div class="progressbar" data-perc="65%">
                                                <div class="bar"></div>
                                                <span class="label">65</span>
                                            </div>
                                        </div>
                                    </div><!-- skill-bar-item end -->
                                    <div class="col-lg-6 skill-bar-item">
                                        <div class="skill-bar">
                                            <p>React</p>
                                            <div class="progressbar" data-perc="50%">
                                                <div class="bar"></div>
                                                <span class="label">50</span>
                                            </div>
                                        </div>
                                    </div><!-- skill-bar-item end -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 offset-xl-1 col-lg-12">
                    <div class="experience-part">
                        <div class="section-header">
                            <h2>My Services</h2>
                        </div>
                        <div class="section-wrapper">
                            <div class="service-items-part">
                                <div class="ser-item">
                                    <div class="ser-item-inner hover-item">
                                        <span class="ser-icon"><i class="fa fa-code" aria-hidden="true"></i></span>
                                        <h5>WEB DEVELOPMENT</h5>
                                        <p>I build a visual components and functionalities of websites and web applications.</p>
                                    </div>
                                </div>
                                <div class="ser-item">
                                    <div class="ser-item-inner hover-item">
                                        <span class="ser-icon"><i class="fa fa-desktop" aria-hidden="true"></i></span>
                                        <h5>WEB design</h5>
                                        <p>I design beautiful websites that strengthen company’s and individual brand.</p>
                                    </div>
                                </div>
                                <div class="ser-item">
                                    <div class="ser-item-inner hover-item">
                                        <span class="ser-icon"><i class="fa fa-cart-plus" aria-hidden="true"></i></span>
                                        <h5>eCommerce Solutions</h5>
                                        <p>I create a good online stores that sell products and provide real value to customers.</p>
                                    </div>
                                </div>
                                <div class="ser-item">
                                    <div class="ser-item-inner hover-item">
                                        <span class="ser-icon"><i class="fa fa-youtube-play"
                                                aria-hidden="true"></i></span>
                                        <h5>Digital Marketing</h5>
                                        <p>I provide digital marketing services such us SEO, SEM, SMM, and Email Marketing.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- skill-exp-section end -->

    <!-- subscribe-section start -->
    <section class="cunsult-section padding-l-r">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-6">
                    <div class="subs-content">
                        <h3>Interested in doing a project together?</h3>
                        <p>I'm ready to start working together building the next amazing life-changer digital product.</p>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="subs-content" id="loading" style="display: none;">
                        <p>Loading</p>
                    </div>
                    <div class="section-wrapper">
							<div class="contact-form-part">
								<form class="contact-form" action="#" id="serviceform" method="dialog" accept-charset="utf-8">
                                    <!--{%csrf_token%}-->
                                    {% if messages %}
                                    {% for message in messages %}
                                    <span style="color:red;">{{message}}</span>
                                    {%endfor%}
                                    {%endif%}
									<div class="row">
										<div class="col-lg-12 frm-grp">
                                            <label for="" style="color: #767676; font-size: 16px; line-height: 1.8; font-family: var(--para-font);">How can I help you?</label>
                                            <select name="service"  id=""  class="selectclass" required>
                                                <option value="Web Design" selected>Web Design</option>
                                                <option value="Web Application">Web Application</option>
                                                <option value="Digital Marketing">Digital Marketing</option>
                                                <option value="Online Store">Online Store</option>
                                                <option value="Front-End Development">Front-End Development</option>
                                                <option value="Flyers Design">Flyers Design</option>
                                            </select>
										</div>
										<div class="col-lg-12 frm-grp">
                                            <label for="" style="color: #767676; font-size: 16px; line-height: 1.8; font-family: var(--para-font);">Tell me more about your project</label>
                                            <textarea name="message" placeholder="" required></textarea>
										</div>
										<div class="col-lg-6 frm-grp">
                                            <label for="" style="color: #767676; font-size: 16px; line-height: 1.8; font-family: var(--para-font);">Do you have a budget?</label>
                                            <select name="budget"  id=""  class="selectclass" required>
                                                <option  value="300$ - 1k$" selected>300$ - 1k$</option>
                                                <option value="1k$ - 3k$">1k$ - 3k$</option>
                                                <option value="3k$ - 5k$">3k$ - 5k$</option>
                                                <option value="+5k">+5k$</option>
                                            </select>
										</div>
										<div class="col-lg-6 frm-grp">
                                            <label for="" style="color: #767676; font-size: 16px; line-height: 1.8; font-family: var(--para-font);">Do you have a deadline?</label>
                                            <input type="text" name="deadline" placeholder="" required>
										</div>
                                        <div class="col-lg-12 frm-grp">
											<input type="email" name="email" placeholder="Your Email" required>
										</div>
										<div class="col-lg-12 frm-grp">
											<a class="cmn-btn sub-btn" style="margin: 0;text-transform: none;font-weight: 500;font-family: var(--heading-font-bold);font-size: 20px;color: #eeeeee;" onclick="save()" type="submit">Submit</a>
										</div>
									</div>
								</form>
							</div>
						</div>
                </div>
            </div>
        </div>
    </section>
    <!-- subscribe-section end -->

    <!-- ser-pro-section start -->
    <section id="service" class="ser-pro-section section-padding padding-l-r">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="portfolio-section">
                        <div class="section-header">
                            <h2>My Portfolio</h2>
                            <p>Here are a few projects I've worked on. Want to see more? <a href="#" style="color: #230090;">Full Portfolio</a>.</p>
                        </div>
                        <div class="section-wrapper">
                            <div class="swiper-container portfolio-slider">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide portfolio-item">
                                        <img src="/static/assets/images/portfolio/1.png" alt="portfolio-come-website">
                                        <a href="https://comecenters.com" target="_blank" class="port-link"><i class="fa fa-link"></i></a>
                                    </div>
                                    <div class="swiper-slide portfolio-item">
                                        <img src="/static/assets/images/portfolio/2.png" alt="portfolio-img-congres-ja-umes">
                                        <a href="https://ja.umesadventist.org" target="_blank" class="port-link"><i class="fa fa-link"></i></a>
                                    </div>
                                    <div class="swiper-slide portfolio-item">
                                        <img src="/static/assets/images/portfolio/3.png" alt="portfolio-img-godswill-tk-mensah-website">
                                        <a href="https://godswilltkmensah.com" target="_blank" class="port-link"><i class="fa fa-link"></i></a>
                                    </div>
                                    <div class="swiper-slide portfolio-item">
                                        <img src="/static/assets/images/portfolio/4.png" alt="portfolio-img-blucala-web-application">
                                        <a href="#" class="port-link"><i class="fa fa-link"></i></a>
                                    </div>
                                    <div class="swiper-slide portfolio-item">
                                        <img src="/static/assets/images/portfolio/5.png" alt="portfolio-img-vvu-sob-website">
                                        <a href="https://sob.vvu.edu.gh" target="_blank" class="port-link"><i class="fa fa-link"></i></a>
                                    </div>
                                    <div class="swiper-slide portfolio-item">
                                        <img src="/static/assets/images/portfolio/6.png" alt="portfolio-img-vvu-fos-website">
                                        <a href="#" class="port-link"><i class="fa fa-link"></i></a>
                                    </div>
                                </div>
                                <!-- If you need pagination -->
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ser-pro-section end -->

    <!-- footer-section start -->
    <section id="hire" class="footer-section">
        <div class="footer-top">
            <div class="container">
                <div class="subscribe-part">
                    <div class="section-header">
                        <h2 style="text-transform: none;">Start a project</h2>
                        <p>Interested in working together? We should queue up a chat. I’ll buy the coffee.</p>
                    </div>
                    <div class="col-xl-12">
                    <div class="cmn-btn-grp" style="text-align: center;">
                        <a href="mailto:josueadimado@gmail.com" class="emailme1" style="text-transform: none; font-size: 22px;">Let's do this</a>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <ul class="social-links">
                    <li><a href="https://twitter.com/josueadimado" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.instagram.com/josue_adimado/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/josue-adimado/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href="https://github.com/josueadimado" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                    <li><a href="https://t.me/josueadimado" target="_blank"><i class="fa fa-telegram"></i></a></li>
                    <li><a href="https://api.whatsapp.com/send?phone=233206783693" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
                </ul>
                <p class="copy-right">Copyright {%now "Y"%} <a href="/">Josué Adimado</a> All Rights Resered</p>
            </div>
        </div>
    </section>
    <!-- footer-section end -->

    <!-- scroll to top start -->
    <div class="scroll-to-top">
        <span class="scroll-icon">
            <i class="fa fa-rocket" aria-hidden="true"></i>
        </span>
    </div>
    <!-- scroll to top end -->


    <script>

        function save(){
            var serviceform = document.getElementById("serviceform")
            var info = serviceForm("serviceform")
            serviceform.style.display="none"
            var loading = document.getElementById("Loading")
            // loading.style.display="block"
            myapi(info)
            console.log(info)
        }

        function serviceForm(formId){
            let myForm = document.getElementById(formId);
            let formData = new FormData(myForm);
            var saved = []
            const info = {};

            for(var pair of formData.entries()){
                info[pair[0]] = pair[1]
            }
            return info;
        }

        function myapi(mydata){
            var url = "http://127.0.0.1:8000/serviceapi/"
            const http = new XMLHttpRequest();
                    http.open('POST', url)
                    http.setRequestHeader('content-type', 'application/json');
                    http.send(JSON.stringify(mydata));
                    http.onload = function(){
                var resp =http.responseText;
                var json_resp = JSON.parse(resp);
                var loading = document.getElementById("Loading")
                console.log(json_resp["message"])
                // loading.innerHTML = "<p>"+json_resp["message"]+"</p>"
                window.location.href = "http://127.0.0.1:8000/"
                    }
        }

    </script>



    <!-- jQuery library js link -->
    <script src="/static/assets/js/jquery-3.3.1.min.js"></script>
    <!-- bootstrap js links -->
    <script src="/static/assets/js/bootstrap.min.js"></script>
    <script src="/static/assets/js/bootstrap.bundle.min.js"></script>
    <!-- plugins js links -->
    <script src="/static/assets/js/jquery.easing.min.js"></script>
    <script src="/static/assets/js/lightcase.js"></script>
    <script src="/static/assets/js/circle-progress.min.js"></script>
    <script src="/static/assets/js/swiper.min.js"></script>
    <script src="/static/assets/js/slick.min.js"></script>
    <script src="/static/assets/js/isotope.pkgd.min.js"></script>
    <!-- main js link -->
    <script src="/static/assets/js/main.js"></script>
</body>


</html>